<!-- Estendemos do template base -->
{% extends "administracao/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da página -->
{% block title %} Atualizar Oficina {% endblock %}

<!-- Bloco de conteúdo da página -->
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Atualizar Oficina </h5>
          <p class="card-text">
            <form method="post">
              {% csrf_token %}

              {{ form }}

              <button type="submit" class="btn btn-primary"> Confirma </button>
              <a href="{% url 'administracao:lista_oficinas' %}" class="btn btn-danger"> Cancelar </a>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}