<!-- Estendemos do template base -->
{% extends "administracao/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Oficinas cadastradas{% endblock %}

<!-- Bloco de conteúdo da página -->
{% block conteudo %}
<div class="container">
  <div class="row" align="right">
    <a href="{% url 'administracao:cadastra_oficina' %}">
      <i class="bi bi-asterisk fa-lg"></i>
    </a>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      {% for oficina in oficinas %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> {{ oficina.id }} : {{ oficina.nome }}</h5>
            <p class="card-text"> Supervisor: {{ oficina.id_supervisor }} </p>

            <a href="{% url 'administracao:atualiza_oficina' pk=oficina.id %}" class="btn btn-secondary"> Atualizar </a>
            <a href="{% url 'administracao:deleta_oficina' pk=oficina.id %}" class="btn btn-danger"> Deletar </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}