<!-- Estendemos do template base -->
{% extends "administracao/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da página -->
{% block title %}Página Inicial - Manutask{% endblock %}

<!-- Bloco de conteúdo da página -->
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Cadastrar Pessoa </h5>
          <p class="card-text"> Cadastre aqui uma nova pessoa </p>
          <a href="{% url 'administracao:cadastra_pessoa' %}" class="btn btn-primary"> Nova Pessoa</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Cadastrar Imóvel </h5>
          <p class="card-text"> Cadastre aqui um novo imóvel </p>
          <a href="{% url 'administracao:cadastra_imovel' %}" class="btn btn-primary"> Novo Imóvel</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Cadastrar Oficina </h5>
          <p class="card-text"> Cadastre aqui uma nova oficina </p>
          <a href="{% url 'administracao:cadastra_oficina' %}" class="btn btn-primary"> Nova Oficina</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Cadastrar OS </h5>
          <p class="card-text"> Cadastre aqui uma Ordem de Serviço </p>
          <a href="{% url 'administracao:cadastra_os' %}" class="btn btn-primary"> Nova OS</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}