<!-- Estendemos do template base -->
{% extends "administracao/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da página -->
{% block title %} Deletar Imóvel {% endblock %}

<!-- Bloco de conteúdo da página -->
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"> Deletar Imóvel </h3>
          <p class="card-text">
            <form method="post">
              {% csrf_token %}
          <p> Você confirma a exclusão do imóvel abaixo? </p>
          <p> Endereço: {{ imovel.rua }}, {{ imovel.numero }}</p>

              <button type="submit" class="btn btn-danger"> Confirma </button>
              <a href="{% url 'administracao:lista_imoveis' %}" class="btn btn-secondary"> Cancelar </a>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}